{% extends 'base.html.twig' %}

{% block title %}
   Mon profil
{% endblock %}

{% block body %}

    <div class="user-details">


        <h2 class="user-profil-h2">{{ participant.pseudo }}</h2>

        <div id="profile_pic">
            {% if participant.photoProfil %}{# si le participant a deja sauvegardé une photo de profil on affiche celle la #}
            <img src="{{ asset('profil/photo/'~participant.photoProfil) }}" alt="{{ participant.pseudo }}">
            {% else %}{# sinon on affiche la photo par defaut présente dan le dossier img #}
            <img src="{{ asset('img/photopardefaut.png') }}" alt="Photo par défaut">
            {% endif %}
        <ul class="user-details-infos">

                <li>Prenom: {{ participant.prenom }}</li>
                <li>Nom: {{ participant.nom }}</li>
                <li>Téléphone : {{ participant.telephone }}</li>
                <li>Email : {{ participant.mail }}</li>
                <li>Campus : {{ participant.campus.nom }}</li>

        </ul>
            {% if participant==app.user %}{# si le profil affiché est bien celui de l'utilisateur connesté on affiche le bonton modifier #}
        <button><a href="{{ path('modifier', { id: participant.id } ) }}" title="modifier">Modifier</a></button>
            {% endif %}
    </div>

{% endblock %}

